/* General Styles for the Header */
.header {
  background-color: #333;
  padding: 10px 20px;
  color: white;
  /* position: fixed; */
  width: 100%;
  top: 0;
  z-index: 1000;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo img {
  width: 60px;
}

.header .header-right {
  display: flex;
  align-items: center;
}

.header .header-right a {
  color: darkgray!important;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  font-size: 17px;
}

.header .header-right a:hover ,.header .header-right a.active{
  /* background-color: #ddd; */
  color: #fff!important;
}

.menu-toggle {
  display: none;
  cursor: pointer;
}

.menu-toggle .fa {
  font-size: 24px;
  color: white;
}

/* Styles for Mobile View */
@media screen and (max-width: 768px) {
  .header .header-right {
      display: none;
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 80px;
      left: 0;
      background-color: #333;
      flex-direction: column;
      width: 100%;
      position: fixed;
      top: 46px;
      left: 0;
      background-color: #333;
      z-index: 999;
  }

  .header .header-right.open {
      display: flex;
  }

  .header .header-right a {
      padding: 10px 20px;
      border-top: 1px solid #444;
      border-top: 1px solid #444;
        width: 100%;
        text-align: left;
        font-size: 14px;
  }

  .menu-toggle {
      display: block;
  }
}

